*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body {
    background-color: peru;
}

.center{
    max-width: 1100px;
    margin: 0 auto;

}

header {
    background-color: #477EB8;
    padding: 50px 0;
    border-bottom: 2px solid #477EB8;
}

.logo {
    color: white;
    text-align: center;
}

.logo h2{
    font-size: 40px;
}

.main2{
    text-align: center;
    margin-top: 70px;
}

.main2 h2{
    color: #35C4F0;
    font-size: 50px;
}

div.form{
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

input{
    margin-top: 10%;
    border-radius: 6px;
    color: black;
    font-size: large;
    font-style: oblique;
}

label{
    color: #35C4F0;
    font-size: 20px;
}

select{
    margin-top: 10%;
    width: 213px;
    height: 30px;
    border-color: black;
    border-width: 2px;
    border-radius: 6px;
}

div.boton{
    display: block;
    text-align: center;
}

form.botaozinho{
    display: inline-block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#simular{
    margin-left: 115px;
    padding: 10px 25px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #35C4F0;
    font-size: 20px;
    cursor: pointer;
}

#simular:hover{
    background-color: rgb(138, 253, 253);
}

div.texto{
    text-align: center;
}






  